.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.box{
    width:100px;
    height: 150px;
    font-size: 4em;
    text-align: center;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: rgb(129, 199, 17);
}
#box3{
    background-color: rgb(32, 2, 170);
}
#box4{
    background-color: rgb(27, 184, 61);
}